<div class="banner">
  <%= render 'songbook' %>
  <div class="container">
    <% if @user == current_user %>
      <h1 style="text-align: center">You can perform actions on your account</h1>
      <div class="call-to-action">
        <%= render 'form' %>
      </div>
    <% end %>
  </div>
</div>




