<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1598020963/19_C2_B0_International_Jazz_Festival_of_Punta_del_Este_-_150111-2052-jikatu__2816077813707_29_drogug.jpg);">
  <div class="container">
    <h1 style="text-align: center;">Since one <strong>drives,</strong> everyone goes<strong> to the same direction</strong>!</h1>
    <p style="text-align: center;">Edit your grids, Share your grids, Play new songs.</p>
    <div class="call-to-action">
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-flat" %>
    </div>
    <div class="call-to-action">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
