.alert {
  z-index: 1001;
  height: 64px;
  text-align: center;
  justify-content: center;
  color: white;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
}
.alert-info {
  background-image: linear-gradient(-180deg, white, $brand);
}
.alert-warning {
  background: black;
}
.message{
  padding-top: 4px;
}

.advice{
  text-align: center;
  color: white;
}
