.footer {
  justify-content: center;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  bottom: 0px;
  padding-bottom: 10px;
}

.footer-item{
  margin: auto;
  padding-top: 10px;
}

.center{
  text-align: center;
}

.sub-footer{
  padding-bottom: 80px;
}
