.grid {
  position: relative;
}

.remove{
  position: absolute;
  bottom: 48px;
  left: 88px;
  font-size: 15px;
  z-index: 1;
}

.first-details{
  position: absolute;
  bottom: 24px;
  left: 36px;
  font-size: 15px;
  z-index: 1;
}

.second-details{
  position: absolute;
  bottom: 40px;
  left: 16px;
  font-size: 15px;
  z-index: 1;
}


.second-details-2{
  position: absolute;
  bottom: 10px;
  left: 50px;
  font-size: 15px;
  z-index: 1;
}


.third-details{
  position: absolute;
  bottom: 40px;
  left: 16px;
  font-size: 15px;
  z-index: 1;
}

.third-details-2{
  position: absolute;
  bottom: 24px;
  left: 64px;
  font-size: 15px;
  z-index: 1;
}


.third-details-3{
  position: absolute;
  bottom: 2px;
  left: 32px;
  font-size: 15px;
  z-index: 1;
}


.fourth-details{
  position: absolute;
  bottom: 24px;
  left: 6px;
  font-size: 15px;
  z-index: 1;
}

.fourth-details-2{
  position: absolute;
  bottom: 42px;
  left: 32px;
  font-size: 15px;
  z-index: 1;
}


.fourth-details-3{
  position: absolute;
  bottom: 10px;
  left: 50px;
  font-size: 15px;
  z-index: 1;
}

.fifth-details{
  position: absolute;
  bottom: 24px;
  left: 6px;
  font-size: 15px;
  z-index: 1;
}

.fifth-details-2{
  position: absolute;
  bottom: 42px;
  left: 32px;
  font-size: 15px;
  z-index: 1;
}


.fifth-details-3{
  position: absolute;
  bottom: 24px;
  left: 58px;
  font-size: 15px;
  z-index: 1;
}

.fifth-details-4{
  position: absolute;
  bottom: 2px;
  left: 30px;
  font-size: 15px;
  z-index: 1;
}

.first-details-out{
  position: absolute;
  bottom: 24px;
  left: 37px;
  font-size: 15px;
  z-index: 1;
}

.second-details-out{
  position: absolute;
  bottom: 40px;
  left: 16px;
  font-size: 15px;
  z-index: 1;
}


.second-details-2-out{
  position: absolute;
  bottom: 10px;
  left: 50px;
  font-size: 15px;
  z-index: 1;
}

.third-details-out{
  position: absolute;
  bottom: 40px;
  left: 16px;
  font-size: 15px;
  z-index: 1;
}

.third-details-2-out{
  position: absolute;
  bottom: 24px;
  left: 64px;
  font-size: 15px;
  z-index: 1;
}


.third-details-3-out{
  position: absolute;
  bottom: 2px;
  left: 32px;
  font-size: 15px;
  z-index: 1;
}


.fourth-details-out{
  position: absolute;
  bottom: 24px;
  left: 6px;
  font-size: 15px;
  z-index: 1;
}

.fourth-details-2-out{
  position: absolute;
  bottom: 42px;
  left: 32px;
  font-size: 15px;
  z-index: 1;
}


.fourth-details-3-out{
  position: absolute;
  bottom: 10px;
  left: 50px;
  font-size: 15px;
  z-index: 1;
}

.fifth-details-out{
  position: absolute;
  bottom: 24px;
  left: 6px;
  font-size: 15px;
  z-index: 1;
}

.fifth-details-2-out{
  position: absolute;
  bottom: 42px;
  left: 32px;
  font-size: 15px;
  z-index: 1;
}


.fifth-details-3-out{
  position: absolute;
  bottom: 24px;
  left: 58px;
  font-size: 15px;
  z-index: 1;
}

.fifth-details-4-out{
  position: absolute;
  bottom: 2px;
  left: 30px;
  font-size: 15px;
  z-index: 1;
}
