.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.login-sub-nav{
  padding-bottom: 150px;
}

.brand{
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  font-size: 32px;
  font-weight: bold;
}

.brand:hover{
  color: rgba(0,0,0,0.4);
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  pointer: cursor;
}
.modal-backdrop {
  z-index: -1;
}

